# SonarQube authentication token
SONAR_TOKEN=YOUR_SONARQUBE_TOKEN_HERE

# Finnhub API key
FINNHUB_API_KEY=YOUR_FINNHUB_API_KEY_HERE

# base app url
NEXT_PUBLIC_BASE_URL=YOUR_BASE_APP_URL_HERE

# Database configuration
DATABASE_URI=your_database_url
DATABASE_API_TOKEN=your_database_token