@import "tailwindcss";

:root {
  /* Background Colors */
  --primary-background: #1F2A46;
  --secondary-background: #2B6DAD;
  --tertiary-background: #c5c6db;

  /* Button colors */
  --button-primary: #2F96F0;
  --button-disabled: #2B6DAD;

  /* Text Color */
  --primary-text: #ffffff;
  --secondary-text: #afafed;
  --tertiary-text: #3f3fd3;
  --quaternary-text: #2a2a86;
  --quinary-text: #1F2A46;

  /* Accent Colors */
  --primary-accent: #ffd700;

  /* Status Colors */
  --success-color: #00ff00;
  --warning-color: #ff4444;
}

/* Body Background with Texture */
body {
  background-color: var(--primary-background);
  background-image: url('/background-textures/carbon-fibre.png');
  background-blend-mode: overlay;
  font-family: Arial, Helvetica, sans-serif;
}
